.form {
    font-family: "SF Pro Text", "Helvetica Neue", "Helvetica", Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #000;
}

input[type="number"],
input[type="radio"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="number"] {
    width: 100%;
    box-sizing: border-box;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

legend {
    font-weight: bold;
    color: #000;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #007aff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}